In [346]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
import os 
from data_preperation import *


%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [347]:
data_original = pd.read_csv('ElectionsData.csv', header=0)
data_original.head()

,Vote,Occupation_Satisfaction,Avg_monthly_expense_when_under_age_21,Avg_lottary_expanses,Age_group,Avg_monthly_expense_on_pets_or_plants,Looking_at_poles_results,Avg_environmental_importance,Married,Gender,...,Last_school_grades,Most_Important_Issue,Number_of_differnt_parties_voted_for,Political_interest_Total_Score,Number_of_valued_Kneset_members,Main_transportation,Occupation,Financial_agenda_matters,Num_of_kids_born_last_10_years,Overall_happiness_score
0,Violets,1.0,113.445801,1688.510190,Below_30,1477.809692,Yes,202.042787,Yes,Male,...,60.0,Financial,12.0,683.760440,1.0,Public_or_other,Industry_or_other,No,1.0,392.803101
1,Browns,2.0,161.720841,696.069582,Below_30,2969.865888,Yes,88.942300,Yes,Male,...,60.0,Financial,9.0,793.017823,2.0,Car,Industry_or_other,No,0.0,41.028616
2,Greens,6.0,524.947117,50048.853880,30-45,30803.812970,No,789.796962,Yes,Female,...,80.0,Healthcare,10.0,253.102383,1.0,Motorcycle_or_truck,Services_or_Retail,No,0.0,635.000942
3,Whites,1.0,521.454363,50265.185360,Below_30,30396.557250,No,565.727946,Yes,Male,...,NaN,Social,8.0,278.904297,1.0,Car,Services_or_Retail,No,0.0,502.278182
4,Browns,6.0,210.879361,7793.195795,30-45,5021.415879,No,423.589896,Yes,Female,...,70.0,Social,11.0,605.564038,4.0,Car,Public_Sector,No,2.0,40.469037

In [348]:
discrete_features = ['Occupation_Satisfaction', 'Last_school_grades', 'Number_of_differnt_parties_voted_for', 'Number_of_valued_Kneset_members', 'Num_of_kids_born_last_10_years']
continuous_features = ['Avg_monthly_expense_when_under_age_21', 'Avg_lottary_expanses', 'Avg_monthly_expense_on_pets_or_plants', 'Avg_environmental_importance',
                      'Financial_balance_score_(0-1)', '%Of_Household_Income', 'Yearly_IncomeK', 'Avg_size_per_room', 'Garden_sqr_meter_per_person_in_residancy_area', 'Avg_Residancy_Altitude',
                      'Yearly_ExpensesK', '%Time_invested_in_work', 'Avg_education_importance', 'Avg_Satisfaction_with_previous_vote', 
                      'Avg_monthly_household_cost', 'Phone_minutes_10_years', 'Avg_government_satisfaction', 'Weighted_education_rank', '%_satisfaction_financial_policy',
                      'Avg_monthly_income_all_years', 'Political_interest_Total_Score', 'Overall_happiness_score']
nominal_features = ['Vote', 'Will_vote_only_large_party', 'Age_group', 'Voting_Time']
onehot_nominal_features = ['Most_Important_Issue', 'Main_transportation', 'Occupation']
binary_features = ['Gender', 'Looking_at_poles_results', 'Married', 'Financial_agenda_matters']

numerical_features = discrete_features + continuous_features
total_nominal_features = nominal_features + onehot_nominal_features + binary_features

In [349]:
uniform_features = ['Occupation_Satisfaction', 'Financial_balance_score_(0-1)',
                    '%Of_Household_Income', 'Yearly_IncomeK', 'Avg_government_satisfaction',
                    '%_satisfaction_financial_policy', 'Garden_sqr_meter_per_person_in_residancy_area',
                    'Yearly_ExpensesK', '%Time_invested_in_work']
normal_features = ['Number_of_differnt_parties_voted_for', 'Number_of_valued_Kneset_members',
                   'Avg_environmental_importance',
                   'Avg_education_importance', 'Avg_monthly_household_cost', 'Weighted_education_rank',
                   'Overall_happiness_score', 'Avg_size_per_room', 'Avg_Residancy_Altitude']
unknown_features = ['Last_school_grades', 'Num_of_kids_born_last_10_years',
                    'Avg_monthly_expense_when_under_age_21', 'Avg_lottary_expanses',
                    'Avg_monthly_expense_on_pets_or_plants', 'Avg_Satisfaction_with_previous_vote',
                    'Phone_minutes_10_years', 'Avg_monthly_income_all_years', 'Political_interest_Total_Score']

In [353]:
data = data_original.copy()

In [354]:
data = convert_to_onehot(data, onehot_nominal_features)
data

,Vote,Occupation_Satisfaction,Avg_monthly_expense_when_under_age_21,Avg_lottary_expanses,Age_group,Avg_monthly_expense_on_pets_or_plants,Looking_at_poles_results,Avg_environmental_importance,Married,Gender,...,Social,Car,Foot_or_bicycle,Motorcycle_or_truck,Public_or_other,Hightech,Industry_or_other,Public_Sector,Services_or_Retail,Student_or_Unemployed
0,Violets,1.0,113.445801,1688.510190,Below_30,1477.809692,Yes,202.042787,Yes,Male,...,0,0,0,0,1,0,1,0,0,0
1,Browns,2.0,161.720841,696.069582,Below_30,2969.865888,Yes,88.942300,Yes,Male,...,0,1,0,0,0,0,1,0,0,0
2,Greens,6.0,524.947117,50048.853880,30-45,30803.812970,No,789.796962,Yes,Female,...,0,0,0,1,0,0,0,0,1,0
3,Whites,1.0,521.454363,50265.185360,Below_30,30396.557250,No,565.727946,Yes,Male,...,1,1,0,0,0,0,0,0,1,0
4,Browns,6.0,210.879361,7793.195795,30-45,5021.415879,No,423.589896,Yes,Female,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Purples,9.0,124.023053,26638.227290,30-45,1760.420762,No,1060.517225,No,Female,...,0,0,0,1,0,0,0,1,0,0
9996,Blues,1.0,1146.385393,245768.367300,30-45,146414.291700,No,826.909059,No,Female,...,0,0,0,0,1,1,0,0,0,0
9997,Turquoises,7.0,173.952313,20598.709440,45_and_up,3430.140470,No,690.466486,Yes,Female,...,0,0,1,0,0,0,1,0,0,0
9998,Oranges,10.0,307.277614,41875.937280,45_and_up,10603.484990,No,547.345514,Yes,Female,...,0,0,0,1,0,0,1,0,0,0
9999,Browns,10.0,175.170356,54803.882940,30-45,3477.796096,No,1258.034027,No,Female,...,0,0,0,0,1,1,0,0,0,0

In [355]:
data = convert_to_categorical(data)
data

,Vote,Occupation_Satisfaction,Avg_monthly_expense_when_under_age_21,Avg_lottary_expanses,Age_group,Avg_monthly_expense_on_pets_or_plants,Looking_at_poles_results,Avg_environmental_importance,Married,Gender,...,Social,Car,Foot_or_bicycle,Motorcycle_or_truck,Public_or_other,Hightech,Industry_or_other,Public_Sector,Services_or_Retail,Student_or_Unemployed
0,10,1.0,113.445801,1688.510190,2,1477.809692,1,202.042787,1,1,...,0,0,0,0,1,0,1,0,0,0
1,1,2.0,161.720841,696.069582,2,2969.865888,1,88.942300,1,1,...,0,1,0,0,0,0,1,0,0,0
2,2,6.0,524.947117,50048.853880,0,30803.812970,0,789.796962,1,0,...,0,0,0,1,0,0,0,0,1,0
3,11,1.0,521.454363,50265.185360,2,30396.557250,0,565.727946,1,1,...,1,1,0,0,0,0,0,0,1,0
4,1,6.0,210.879361,7793.195795,0,5021.415879,0,423.589896,1,0,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,7,9.0,124.023053,26638.227290,0,1760.420762,0,1060.517225,0,0,...,0,0,0,1,0,0,0,1,0,0
9996,0,1.0,1146.385393,245768.367300,0,146414.291700,0,826.909059,0,0,...,0,0,0,0,1,1,0,0,0,0
9997,9,7.0,173.952313,20598.709440,1,3430.140470,0,690.466486,1,0,...,0,0,1,0,0,0,1,0,0,0
9998,5,10.0,307.277614,41875.937280,1,10603.484990,0,547.345514,1,0,...,0,0,0,1,0,0,1,0,0,0
9999,1,10.0,175.170356,54803.882940,0,3477.796096,0,1258.034027,0,0,...,0,0,0,0,1,1,0,0,0,0

In [356]:
# Split
X_train, y_train, X_val, y_val, X_test, y_test = split_data(data, test_size=0.15, val_size=0.15)

In [357]:
XY_train = X_train.copy()
XY_train.insert(0, 'Vote', y_train)

print(f'Number of negative values: {(XY_train.dropna().values < 0).sum()}')
XY_train = remove_negative(XY_train) # TODO check if removing is good or maybe abs
print(f'Number of negative values: {(XY_train.dropna().values < 0).sum()}')

print(f'Number of nan before: {XY_train.isnull().values.sum()}')
outlier = Outlier(XY_train)
XY_train = outlier.remove_outlier(XY_train, 3)
print(f'Number of nan after: {XY_train.isnull().values.sum()}')

Number of negative values: 207
Number of negative values: 0
Number of nan before: 4316
Number of nan after: 4680

In [358]:

print(f'Number of nan before: {XY_train.isnull().values.sum()}')
imputation = Imputation(XY_train)
XY_train = imputation.impute_train(XY_train)
print(f'Number of nan after: {XY_train.isnull().values.sum()}')

Number of nan before: 4680
Number of nan after: 0

In [13]:
data.loc[:, data.columns != 'Vote'].values[:9000]

array([[1.0, 113.4458013, 1688.5101899999997, ..., 0, 0, 0],
       [2.0, 161.72084119999997, 696.0695824000001, ..., 0, 0, 0],
       [6.0, 524.9471168, 50048.85388, ..., 0, 1, 0],
       ...,
       [5.0, 79.20788829, 16328.018090000001, ..., 1, 0, 0],
       [7.0, 265.8603294, 42434.29331, ..., 0, 0, 1],
       [9.0, 899.7816796, 177096.6538, ..., 0, 0, 0]], dtype=object)

In [254]:
#Test for SFS algorithem
from feature_selection import SFS
from sklearn.ensemble import RandomForestClassifier 

forest = RandomForestClassifier(n_estimators = 3)
x_train = data.loc[:, data.columns != 'Vote'].values[:9000].astype(int)
y_train = data['Vote'].values[:9000].astype(int)
x_test = data.loc[:, data.columns != 'Vote'].values[9000:].astype(int)
y_test = data['Vote'].values[9000:].astype(int)
selected_features = SFS(forest, x_train,y_train,x_test,y_test) 
names = data.iloc[:, 1:].columns.values
chosen_features = [names[index] for index in selected_features]

In [255]:
chosen_features

['Avg_environmental_importance',
 'Avg_size_per_room',
 'Weighted_education_rank',
 'Last_school_grades',
 'Number_of_differnt_parties_voted_for',
 'Overall_happiness_score',
 'Financial']